<div class="row">
    {{#each myproducts}}
    <div class="col-sm-6 col-md-3 mt-4">
        <div class="card">
            <figure class="figure">
                <img src="{{imgPath}}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                <h3>{{title}}</h3>
                <figcaption class="figure-caption mb-2">{{description}}</figcaption>
                <div class="d-flex justify-content-between">
                    <div class="price p-2">${{price}}</div>
                    <div class="add-btn">
                        <a href="/add-to-cart/{{_id}}" class="btn btn-default">add to cart</a>
                    </div>
                </div>
            </figure>
        </div>
    </div> 
    {{/each}}
</div>
